{% load static %}
<!DOCTYPE html>
<html>
  <head>

      <meta charset="UTF-8">
      <link href="{% static 'css/uikit.min.css' %}" rel="stylesheet">
      <script src="{% static 'js/uikit.min.js' %}"></script>
      <script src="{% static 'js/uikit-icons.min.js' %}"></script>
      <link rel="stylesheet" type="text/html" href="/index.css">
  </head>
  <body>

    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow>
    <ul class="uk-slideshow-items">
      <li>
        <img data-src="{{url}}" alt="" uk-cover uk-img="target: !.uk-slideshow-items">

      </li>
    </ul>
    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
    </div>
  </body>
</html>
